<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdamApp">
        <activity
            android:name=".StudentActivity"
            android:exported="false"
            android:label="Student Portal" />
        <activity
            android:name=".UniActivity"
            android:exported="false"
            android:label="UiTM Website" />
        <activity
            android:name=".ContactActivity"
            android:exported="false"
            android:label="Instagram" />
        <activity
            android:name=".TimeTableActivity"
            android:exported="false"
            android:label="Timetable" />
        <activity
            android:name=".SkillsActivity"
            android:exported="false"
            android:label="Skills" />
        <activity
            android:name=".HobbiesActivity"
            android:exported="false"
            android:label="Hobbies" />
        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:label="About Me" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:label="Home" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Hello">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>